# Logs
logs
*.log
npm-debug.log*

# Runtime
pids
*.pid
*.seed

# Dependency directories
node_modules/

# Environment
.env
.env.local
.env.*

# Build
build/
dist/

# React
frontend/build

# Prisma
prisma/dev.db

# Docker
docker-data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

coverage/

*.pem